
package javaapplication24;

import java.util.Scanner;


public class JavaApplication24 {
    static Scanner console = new Scanner(System.in);
    
    
    public static void main(String[] args) {
        Tests[] newTests = new Tests[10];
        String strf, strl;
        int[] yes = new int[5];
        
        for(int x=0; x<10; x++){
            System.out.println("Enter the name of the student followed by their grades.");
            strf = console.next();
            strl = console.next();
            for (int z = 0; z <5; z++){
                yes[z] = console.nextInt();        
            }   
            newTests[x] = new Tests(strf,strl,yes);
        }
        
        
        double classSum = 0.0, classAve = 0.0;
        System.out.println("F_Name L_Name\tTest1\tTest2\tTest3\tTest4\tTest5\tAverageGrade");       
        
        for(int i = 0; i < 10; i++){
            newTests[i].calculateTestAverage();
            newTests[i].GradeCalculation();
            classSum += newTests[i].returnTestAverage();
            System.out.println(newTests[i].toString());
        }
        classAve = classSum / 10;
        System.out.println("");
        System.out.println("Class Average = " + classAve);
    }
    
}
